*{
    box-sizing: border-box;
}



body {
    background-image: url(../images_audio/background.jpg);
}



button{

    background-color: lightgoldenrodyellow;
    margin:3px;
    border-radius: 50%;
    
}
.container{
    background-color: transparent;
}
.gifs{
    display: inline-block;
    
    margin: 3px;
    padding: 3px;

}